<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "index.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% block content %}
    <h1>О нас</h1>
    <p>Данный проект был создан Дмитрием Горским. Этот сайт - задание от платформы КодЛанд, который наш дорогой Дима должен был выполнить. Буду очень рад, если вы поддержите этот проект.</p>
    
    <img class="img_me" src="{{ url_for('static', filename='img/WhatsApp_Bild_2024-10-02_um_17.47.15_d1eef809.jpg') }}" alt="My face" style="filter: brightness({{ brightness }}%); filter: {{ filter_style }};">

    <form method="GET">
        <input type="range" id="brightnessRange" name="brightness" min="0" max="500" value="{{ brightness }}" step="1" onchange="this.form.submit()">
        <button type="submit" class="button"name="make_pink" value="true">:]</button>

    </form>
    {% endblock %}
</body>
</html>
