<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "index.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пароля</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="{{ url_for('change_password') }}">
        <p></p>
        <label for="current_password">Старый пароль:</label>
        <input type="password" id="current_password" name="current_password" required>
        <p></p>
        <label for="new_password">Новый пароль:</label>
        <input type="password" id="new_password" name="new_password" required>
        <p></p>
        <label for="confirm_password">Подтвердить новый пароль:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <p></p>
        <button type="submit" class="button">Изменить пароль</button>
    </form>

    {% if message %}
    <p class="error">{{ message }}</p>
    {% endif %}
    <p></p>
    <a href="{{ url_for('profile') }}">Вернуться обратно</a>
    {% endblock %}
</body>
</html>