<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="left">
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='img/tree_transparent.png') }}" alt="icon"> Umweltio
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('us') }}">
                        <img src="{{ url_for('static', filename='img/about-us.svg') }}" alt="icon"> О нас
                    </a>
                </li>
                <li>
                    <a href=" {{ url_for('top_list') }}">
                    <img src="{{ url_for('static', filename='img/pokal.png') }}" alt="icon">Мировой топ
                </a>
                </li>
                <li>
                    {% if session['username'] %}
                    <a href="{{ url_for('forum') }}">
                        <img src="{{ url_for('static', filename='img/forum_icon.png') }}" alt="icon"> Форум
                    </a>
                </li>
                {% else %}
                {% endif %}
            </ul>
        </div>
        <div class="right">
            <ul>
                {% if session['username'] %}
                <li>
                    <a href="{{ url_for('profile') }}">{{ session['username']  }}
                        
                    <img src="{{ url_for('static', filename=user.profile_picture if user.profile_picture else 'profile_pics/default_profile.png') }}" 
                        alt="profile_picture" 
                        style="width:40px; height: 40px; border-radius: 50%;"></a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <img src="{{ url_for('static', filename='img/R.png') }}" alt="icon"> Выйти
                    </a>
                </li>
                
                {% else %}
                <li><a href="{{ url_for('register') }}">Зарегистрироваться</a></li>
                <li><a href="{{ url_for('login') }}">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if user and user.is_confirmed == False %}
    <div style="background-color: red; color: white; padding: 10px; text-align: center;">
        <p>Ваш адрес электронной почты не подтвержден. Пожалуйста, подтвердите его, чтобы пользоваться всеми функциями сайта.</p>
    </div>
    {% endif %}
   
    {% block content %}
    <p>Добро пожаловать на наш сайт!</p>
    {% if session['username'] %}
    <p>Вы вошли как: {{ session['username'] }}.</p>

<div class="card-container">
    <div class="info">
        <div class="info-title"> Изменение климата</div>
        <div class="info-text">
            <p>Изменение климата — это долгосрочные изменения температур и погодных условий на Земле. Это явление, которое наблюдается на протяжении веков, но в последнее время оно усилилось из-за человеческой деятельности. Увеличение концентрации парниковых газов в атмосфере приводит к глобальному потеплению, которое оказывает серьезное влияние на климат.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz1') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Загрязнение воздуха</div>
        <div class="info-text">
            <p>Загрязнение воздуха — это серьезная проблема, которая затрагивает здоровье человека и окружающую среду. Основные источники загрязнения воздуха включают автомобильный транспорт, промышленность и сжигание ископаемых видов топлива. Загрязненный воздух может вызывать множество заболеваний, включая астму и сердечно-сосудистые заболевания.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz2') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Устойчивое развитие</div>
        <div class="info-text">
            <p>Устойчивое развитие — это концепция, которая предполагает удовлетворение потребностей настоящего без ущерба для будущих поколений. Она требует изменения нашего отношения к ресурсам и среды обитания. Устойчивое развитие охватывает такие аспекты, как экономическая, социальная и экологическая устойчивость.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz3') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Охрана водных ресурсов</div>
        <div class="info-text">
            <p>Вода является одним из самых ценных ресурсов на Земле, и её охрана имеет решающее значение для здоровья экосистем. Вода используется для питья, сельского хозяйства и промышленности. Каждый должен заботиться о сохранении воды и использовать её разумно, чтобы избежать водного кризиса.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz4') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Биологическое разнообразие</div>
        <div class="info-text">
            <p>Биологическое разнообразие включает в себя все живые организмы на планете и их взаимодействия. Сохранение биологического разнообразия имеет важное значение для поддержания экосистем и их функций. Угроза исчезновения видов представляет собой серьезную проблему, требующую нашего внимания.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz5') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Устойчивый транспорт</div>
        <div class="info-text">
            <p>Устойчивый транспорт включает в себя различные способы передвижения, которые минимизируют воздействие на окружающую среду. Это включает в себя использование общественного транспорта, велосипедов и пешие прогулки. Устойчивый транспорт помогает снизить выбросы углекислого газа и уменьшить загрязнение.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz6') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Отходы и переработка</div>
        <div class="info-text">
            <p>Управление отходами и переработка имеют важное значение для сокращения негативного влияния на окружающую среду. Эффективные стратегии управления отходами помогают снизить количество отходов, поступающих на свалки, и уменьшают загрязнение. Переработка помогает сохранить ресурсы и снижает выбросы углерода.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz7') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Энергосбережение</div>
        <div class="info-text">
            <p>Энергосбережение — это эффективный способ сокращения расхода энергии и уменьшения углеродного следа. Это включает в себя использование энергоэффективных устройств и сокращение потребления электроэнергии. Энергосбережение помогает не только сэкономить деньги, но и защитить окружающую среду.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz8') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title"> Лесные экосистемы</div>
        <div class="info-text">
            <p>Леса являются важными экосистемами, которые поддерживают разнообразие видов и обеспечивают множество экосистемных услуг. Леса помогают очищать воздух, обеспечивают кислород и являются домом для многих животных и растений. Защита лесов имеет решающее значение для сохранения природы.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz9') }}" class="button">Перейти к викторине</a>
    </div>
    <p></p>
    <div class="info">
        <div class="info-title">Глобальное потепление</div>
        <div class="info-text">
            <p>Глобальное потепление — это явление, связанное с увеличением средней температуры Земли. Оно вызвано выбросами парниковых газов, таких как углекислый газ и метан. Глобальное потепление приводит к серьезным последствиям, включая изменение климата, повышение уровня моря и изменение экосистем.</p>
        </div>
                <p></p>
        <a href="{{ url_for('quiz10') }}" class="button">Перейти к викторине</a>
    </div>
</div>
    <p></p>

    {% else %}
    <a href="{{ url_for('login') }}">Войти</a>
    <p>Вы ещё не зарегистрированы?</p>
    <a href="{{ url_for('register') }}"> Зарегистрироваться</a>
    {% endif %}
    {% endblock %}
</body>
</html>
